################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/bin/Debug
/DAO_ApiGateway/bin
/DAO_ApiGateway/obj
/DAO_DbService/bin
/DAO_DbService/obj
/DAO_IdentityService/bin
/DAO_IdentityService/obj
/DAO_LogService/bin
/DAO_LogService/obj
/DAO_NotificationService/bin
/DAO_NotificationService/obj
/DAO_WebPortal/bin
/DAO_WebPortal/ChainAssetsProd
/DAO_WebPortal/obj
/Helpers/bin
/Helpers/obj
/DAO_ApiGateway/Properties/PublishProfiles
/DAO_DbService/Properties/PublishProfiles
/DAO_IdentityService/Properties/PublishProfiles
/DAO_LogService/Properties/PublishProfiles
/DAO_NotificationService/Properties/PublishProfiles
/DAO_WebPortal/Properties/PublishProfiles
/DAO_ApiGateway/DAO_ApiGateway.csproj.user
/DAO_DbService/DAO_DbService.csproj.user
/DAO_IdentityService/DAO_IdentityService.csproj.user
/DAO_LogService/DAO_LogService.csproj.user
/DAO_NotificationService/DAO_NotificationService.csproj.user
/DAO_WebPortal/DAO_WebPortal.csproj.user
/Helpers/Helpers.csproj.user
/UnitTests/DAO_DbService.Test/bin
/UnitTests/DAO_DbService.Test/obj
/UnitTests/DAO_IdentityService.Test/bin
/UnitTests/DAO_IdentityService.Test/obj
*.user
/UnitTests/DAO_DbService.Test/bin
/DAO_ApiGateway/appsettings.Production.json
/DAO_DbService/appsettings.Production.json
/DAO_IdentityService/appsettings.Production.json
/DAO_LogService/appsettings.Prodcution.json
/DAO_NotificationService/appsettings.Production.json
/DAO_ReputationService/appsettings.Production.json
/DAO_VotingEngine/appsettings.Production.json
/DAO_WebPortal/appsettings.Production.json
/docker-compose-production.yml
/DAO_LogService/appsettings.Production.json
/docker-compose-production.override.yml
/crdaokey.pem
/crdaoprivate.ppk
/UnitTests/DAO_WebPortal.Test/bin
/UnitTests/DAO_WebPortal.Test/obj
/UnitTests/DAO_LogService.Test/obj
/UnitTests/DAO_LogService.Test/bin
/UnitTests/DAO_NotificationService.Test/bin
/UnitTests/DAO_NotificationService.Test/obj

/DAO_ReputationService/bin
/DAO_ReputationService/obj
/DAO_VotingEngine/bin
/DAO_VotingEngine/obj
/DAO_ReputationService/bin
/DAO_ReputationService/Properties/PublishProfiles
/DAO_VotingEngine/bin
/DAO_VotingEngine/Properties/PublishProfiles
/DAO_ReputationService/DAO_ReputationService.csproj.user
/DAO_VotingEngine/DAO_VotingEngine.csproj.user
/DAO_ReputationService/appsettings.Production.json
/DAO_VotingEngine/appsettings.Production.json
/docker-compose-production.yml
/docker-compose-production.override.yml
.DS_Store
/UnitTests/DAO_ReputationService.Tests/bin
/UnitTests/DAO_VotingEngine.Tests/bin
/UnitTests/DAO_ReputationService.Tests/obj
/UnitTests/DAO_VotingEngine.Tests/obj

appsettings.Production.json

.DS_Store

/DAO_CasperChainService/obj
/DAO_CasperChainService/bin
DAO_CasperChainService/appsettings.json
DAO_CasperChainService/appsettings.json
